@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Merriweather:wght@400;700;900&family=Work+Sans:wght@100;400;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

/* header section */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 45px 250px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h1 {

    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/* banner section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
}

.banner-des {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
}

.banner img {
    width: 100%;
}

.primary-button {
    color: #FFF;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background: #FF900E;
    padding: 20px 25px;
    margin-bottom: 50px;
    cursor: pointer;
}

/* responsive header for mobile */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* responsive header for tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}

main{
    margin: 0 240px;
    margin-top: 85px;
}

/* second-part-section */

.second-part {
    display: flex;
    align-items: center;
}

.second-des {
    padding-left: 75px;
}

.second-part-title {
    font-size: 45px;
    font-weight: 700;
}

.second-part-des {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
}

.four-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}